@charset "utf-8";
@use "../../Functions/Size.scss";
@use "../../Variables/Color.scss";



.task-pop-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    ///////////////////////////////////////////////////////////////
    // title
    ///////////////////////////////////////////////////////////////
    &__title-box {
        display: flex;
        gap: 16px;
    }
    ///////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////






    ///////////////////////////////////////////////////////////////
    // btn
    ///////////////////////////////////////////////////////////////
    &__btn-box {
        display: flex;
        gap: 64px;
        > div {
            width: 100px;
            height: 35px;
            font-size: Size.fontSize(14);
            &:nth-child(1) {
                background-color: inherit;
                border: 1px solid Color.$bg-blue;
                button {
                    color: Color.$font-white;
                }
            }
        }
    }
    ///////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////
    ///////////////////////////////////////////////////////////////
}