@charset "utf-8";



.main-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 300px;

    > div {
        &.enter {
            position: absolute;
            transform: translateX(50px);
            opacity: 0;
        }
        &.enter-active {
            position: absolute;
            transform: translateX(0);
            opacity: 1;
            transition: all .3s .3s ease-in-out;
        }
        &.enter-done {
            position: relative;
            transform: none;
            opacity: 1;
        }
        &.exit {
            position: absolute;
            transform: translateX(0);
            opacity: 1;
        }
        &.exit-active {
            position: absolute;
            transform: translateX(-50px);
            opacity: 0;
            transition: all .3s ease-in-out;
        }
        &.exit-done {
            position: absolute;
            transform: translateX(-50px);
            opacity: 0;
        }
    }
}