@charset "utf-8";
@use "../../Functions/Media.scss";
@use "../../Functions/Size.scss";



.main-top-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;

    &__message-box {
        display: flex;
        flex-direction: column;
        &--message {
            text-align: center;
            &:nth-child(1) {
                margin-bottom: 16px;
                font-weight: bold;
            }
            &:nth-child(2) {
                font-size: Size.fontSize(14);
            }
            &:nth-child(3) {
                font-size: Size.fontSize(14);
            }
        }
    }
}